b_*
/src/b_*
.project
/.vscode/*
/res/*
!*/res/poa2cell_files/*
/old/*
/src/__pycache*
/src/sim*
*.java
src/config/*
src/gui/*
src/nodes/*
src/CityMob*
src/cityyMob*
src/Citymob*
src/*cplex*
src/toy*.py
src/Check_sol.py
src/obj_func.py
/.pydevproject
/src/tmp.txt
/src/old/Buses.py
/src/old/MyBuses.mod
/src/old/MyBuses.py
/src/old/shorter.mod
/src/old/zootupleset.mod
/nbproject/*
/dist/*
/build/*
/build/classes/*
/bin/*
.classpath
build.xml

/LP by Scipy1.jpg
/LP by Scipy2.jpg
/src/vehicles.pos
/bin/
/sh.exe.stackdump
/src/‏‏Generations_Python_Java_npp_Eclipse.txt - קיצור דרך.lnk
/src/short.sumocfg
.alias_pusher.txt
/src/.alias_pusher.txt
